@*@using SportsStore.Domain.Entities*@
@model WebApplication1.Models.ProductListViewModel


@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
   @Html.Partial("ProductSummary", p)
}
<div class="pager">
    @using WebApplication1.HtmlHelpers
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>

